<?xml version="1.0"?>
<launch>

  <include file="$(find-pkg-share visualizer)/launch/view.launch">
  </include>

  <include file="$(find-pkg-share flightcontroller)/launch/position.launch">
  </include>

  <include file="$(find-pkg-share sensor_simulation)/launch/sensors.launch">
  </include>

    <node pkg="simple_sim" exec="simple_sim_node" name="simple_sim_node" output="screen" on_exit="shutdown"></node>

    <node name="geofence_and_mission_node" pkg="simple_control" exec="geofence_and_mission" output="screen">
        <param name="/geofence_and_mission_node/geofence/x" type="float" value="10" />
        <param name="/geofence_and_mission_node/geofence/y" type="float" value="10" />
        <param name="/geofence_and_mission_node/geofence/z" type="float" value="10" />
        <param name="/geofence_and_mission_node/acceptance_range" type="float" value="0.25" />
    </node>

</launch>