<?xml version="1.0"?>
<launch>
  <include file="$(find-pkg-share visualizer)/launch/view.launch">
  </include>

  <include file="$(find-pkg-share flightcontroller)/launch/position.launch">
  </include>

  <include file="$(find-pkg-share sensor_simulation)/launch/sensors.launch">
    <arg name="map_path" value="room.txt"/>
  </include>

    <node pkg="simple_sim" exec="simple_sim_node" name="simple_sim_node" output="screen" on_exit="shutdown"></node>

    <node name="keyboard_manager_node" pkg="simple_control" exec="keyboard_manager" output="screen" />
    <node name="keyboard" pkg="keyboard" exec="keyboard" output="screen" />
</launch>