<?xml version="1.0"?>
<launch>
  <arg name="map_path"/>
  <node pkg="sensor_simulation" exec="lidar.py" name="lidar_node" output="screen">
      <param name="/lidar_node/map_path" type="str" value="$(var map_path)"/>
      <param name="/lidar_node/lidar_range_noise" type="float" value="0.05" />
      <param name="/lidar_node/lidar_position_noise" type="float" value="1" />
  </node>

  <node pkg="sensor_simulation" exec="down_facing_camera.py" name="down_facing_camera_node" output="screen">
    <param name="/down_facing_camera_node/image_path" type="str" value="construction.jpeg" />
  </node>

  <node pkg="sensor_simulation" exec="pressure.py" name="pressure_node" output="screen">
    <param name="/pressure_node/noise" type="float" value="10.0" />
  </node>

  <node pkg="sensor_simulation" exec="noise_and_transformations.py" name="noise_and_transformations_node" output="screen">
    <param name="/uav/sensors/position_noise_lvl" type="float" value="1" />
    <param name="/uav/sensors/attitude_noise_lvl" type="float" value="0.001" />
    <param name="/uav/sensors/velocity_noise_lvl" type="float" value="0.1" />
    <param name="/uav/sensors/velocity_attitude_noise_lvl" type="float" value="0.001" />
  </node>
</launch>